* { margin: 0;
    padding: 0;

    box-sizing: border-box;

}
body{background-image: url(imagens/brennan-burling-ay53qag90W8-unsplash.jpg);
    background-repeat:  no-repeat;
    background-size: cover;
   position:relative;

}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: beige;
    font-size: 40px;
}    

.a1{
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    padding: 30px;
    transition: 0.3s;
}
.a1:hover{
    background-color: rgb(55, 102, 231)
}
.header-site{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background: rgb(45, 49, 44);
    height: 10vh;
}

.texto-index{
    border-radius: 50px;
    line-height: 1.5;
    text-align: center;
    background-color: rgba(63, 56, 56, 0.75);
    font-size: 2em;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    margin:5%;
    padding: 5%;
}
.texto-index p {
    padding-top: 10px;
    padding-bottom: 10px;
}
.foto-victor{
height:350px;
 width:350px;
 object-fit: contain;
 object-position: center;
 margin: auto;
 border-radius: 100%;

}
.logos-linguagens img{
    padding-top: 40px; 
    height:300px;
    width:350px;
    object-fit: contain;
   text-align: center;
    margin: auto;

}
.logos-linguagens table{
    margin: 40px;
}
.sobremim{
    border-radius: 50px;
    text-align: center;
    background-color: rgba(63, 56, 56, 0.75);
    font-size: 2em;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    margin: 5%;
    padding: 5%;
}
.sobremim p{
    padding-top: 20px;
}
.sobremim h2{
    padding-bottom: 20px;
}
.lista-empregos{
    padding: 20px;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
.Projetos{
    border-radius: 50px;
    text-align: center;
    background-color: rgba(63, 56, 56, 0.75);
    font-size: 2em;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    margin: 5%;
    padding: 5%;
}
.Projetos p{
    padding-top: 20px;
}
.Projetos img{
    margin-top: 50px;
    width: 300px;
    border-radius: 5%;
}
.Caixa-contato{border-radius: 50px;
    text-align: center;
    background-color: rgba(63, 56, 56, 0.75);
    font-size: 2em;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    margin: 5%;
    padding: 5%;
}
.Caixa-contato form{
  text-align: center;
  padding: 20px;
}
.Caixa-contato p{
    padding-top: 20px;
    padding-bottom: 20px;
}
.Caixa-contato button{
   
    display: block;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    margin-right: auto; 
    margin-left: auto;
    margin-top: 20px;
    cursor: pointer;
    
}
.Caixa-contato button:hover{
    background-color:rgb(55, 102, 231);

}
.Caixa-contato input{
    margin:20px;
    font-size: 25px;
}
.Caixa-contato textarea{
    font-size: 30px;
}
footer{
    bottom: 0;
    text-align:center;
}

.redes img:hover{
    background-color:rgb(55, 102, 231);
    border-radius: 100%;
    
}