
header {
    color: aliceblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(19, 19, 49,0.75);
    ;  
}
nav{
    background-color:black;
    color: aliceblue;
    font-size: 35px;
    transition: 0.5s;
    display: flex;
    justify-content: space-around ;
}
a{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;

}
a:hover{
    color:red;
}

/* .foto-home{
    background-image: url(img/foto\ Victor.jpg);
    background-repeat:  no-repeat;
    background-size: cover;
   background-position: center center;}  */

 table{
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size: 40px;
       padding: 50px;
       justify-items: center;
       align-items: center;
       text-align: center;

   }
.add-produto{
       color: red;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       font-size: 40px;
   }

.texto-apresentacao{
       color: red;
       font-size: 80px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
label{
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 40px;
     
   }
button{color: red;
    background-color: yellow;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer {
    color:rgba(182, 0, 85, 0.75);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom:0;
    left: 1500px;}